body {
    background-color: #48b8b6;
}

.App {
    text-align: center;
}

.header {
    display: flex;
    justify-content: center;
  }
  
  .span {
    color: #dedede;
  }
  
  .profile-pic {
    height: 260px;
      width: 204px;
      border: 5px solid white;
      border-radius: 10%;
      margin: 50px;
  }
  
.navigationbar {
    justify-content: center;
    font-size: 2rem;
    color: #dedede;
  }



.navigationbar:hover {
    color: #dedede;
}


.desc {
    font-size: 75%;
    flex-wrap: wrap;
}


.projects {
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;
}

.project {
    width: 50%;
    padding: 15px;
}

.recent-project {
    width: 100%;
    flex-grow: 2;
}

.project a {
    text-decoration: none;
}

.project img {
    width: 100%;
    border-radius: 2px;
}

.project p {
    position: relative;
    left: 10px;
    bottom: 50%;
    z-index: 2;
    text-decoration: none;
    color: black;
    font-size: 150%;
}

.project a:hover {
    color: var(--color2);
    font-size: larger;
}

.project a img:hover {
    box-shadow: 7px 7px 7px 1px rgba(0,0,0, 0.3);
    font-size: larger;
}


.resume-body {
    font-size: 75%;
    color: white;
}

.resume-body h3 {
    margin: 5px;
    color: darkblue;
}

.resume-body span {
    color: var(--color4);
}

.resume-body ul {
    margin-top: 10px;
    list-style-type: none;
    border-bottom: 1px solid darkblue;
}

.resume-body li {
    font-style: normal;
}

.resume-block {
    padding: 15px;
}