
:root {
    --background: #48b8b6;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  display: flex;
  justify-content: center;
}

.span {
  color: #dedede;
}

.profile-pic {
  height: 260px;
    width: 204px;
    border: 5px solid white;
    border-radius: 10%;
    margin: 50px;
}

.navigationbar {
  display: inline-flex;
  white-space: nowrap;
}

